*{
	margin: 0px;
	padding: 0px;
}

.navbar {
overflow: hidden;
background-color: #333;
position: fixed;
top: 0;
width: 100%;
}

.navbar a {
float: left;
display: block;
color: #f2f2f2;
text-align: center;
padding: 14px 16px;
text-decoration: none;
font-size: 17px;
}

.navbar a:hover {
background: #ddd;
color: black;
}

.main {
padding: 16px;
margin-top: 30px;
height: 1500px; /* Used in this example to enable scrolling */
}
.body {
    background-image: url("{% static '/main/img/leather_repeat.jpg' %}");  
}
.container{
    padding-bottom: 50px;
    margin-top: 50px;
    margin: auto;
}    
.error{
color:darkslategray; 
font-size: 80%;
}
div.gallery {
  width: 250px;
  height: 400px;
  margin: 5px;
  border: 1px solid black;
  float: left;
  background-color:lightsalmon;
  box-shadow: 5px 5px 5px black ;
}
div.gallery:hover {
  border: 1px solid #777;
}
div.gallery img {
  width: 100%;
  height: 400px;
}
div.desc {
  padding: 15px;
  text-align: center;
}
.parallax { 
    background-image: url("{% static '/main/img/old_bookshelf.png' %}");
    height: 400px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center; 
    box-shadow: 0px 20px 20px black ;
}
.top_image {
    width: 100%;
    height: 100%;
    background-image: url("{% static '/main/img/old_bookshelf.png' %}");        
    color: black; 
    text-align: center; 
    line-height: 120px; 
    vertical-align: top; 
    font-family: Montserrat script=all rev=1; 
    font-weight: 900;
}
  /* FOOTER AREA */
.footer-area {
    height: auto;
    text-align: center;
    background-color: black;
}

.footer-area * {
    color: white;
}

.footer-area > .sns > .item {
    display: inline-block;
    padding: 10px;
    cursor: pointer;
}

.footer-area > .sns > .item > i {
    font-size: 24px;
    color: white;
}

.footer-area > .info > p {
    font-size: 16px;
    padding: 10px 0;
}